/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1, h2 {
  font-weight: normal;
}

section {
  padding: 80px 0;
}

/* FONTS */
body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: #252525;
}

/* CONTAINER */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* BOTÃO */
.btn {
  cursor: pointer;
  width: 180px;
  height: 40px;
  border: 2px solid #252525;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: transparent;
  transition: all 200ms linear;
}

.btn:hover {
  background-color: #252525;
  color: #fff;
}

.btn.btn-branco {
  border-color: #fff;
  color: #fff;
}

.btn.btn-branco:hover {
  background-color: #fff;
  color: #252525;
}

/* TITULO */
.titulo {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
}

/* CABEÇALHO */
.cabecalho {
  background-color: #252525;
  padding: 15px;
}

.cabecalho .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-cabecalho a {
  font-size: 18px;
  color: #fff;
  padding: 10px;
  transition: color 200ms linear;
}

.menu-cabecalho a:hover {
  opacity: .8;
}

/* INTRODUÇÃO */
.introducao {
  background-image: url('../assets/hero.jpg');
  background-size: cover;
  background-position: center;

  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: #fff;
}

.titulo-intro {
  font-size: 64px;
  font-weight: bold;
  text-transform: uppercase;
}

.texto-intro {
  font-size: 18px;
  font-style: italic;
  margin-bottom: 15px;
}

/* SERVIÇOS */
.servicos {
  text-align: center;
}

.servicos-conteudo {
  margin: 30px 0;
  display: flex;
  justify-content: space-around;
}

.servico-item {
  width: 300px;
}

.servico-item img {
  margin-bottom: 20px;
}

/* HISTÓRIA */
.historia {
  padding: 0;
  display: flex;
  height: 500px;
}

.imagem-historia {
  background-image: url('../assets/history.jpg');
  background-size: cover;
  background-position: center;
}

.imagem-historia,
.conteudo-historia {
  width: 50%;
}

.conteudo-historia {
  background-color: #f1f1f1;
  padding: 60px;
}

.conteudo-historia .titulo,
.conteudo-historia p {
  margin-bottom: 15px;
}

.conteudo-historia .btn {
  margin-top: 15px;
}

/* CONTATO */
.contato .titulo,
.contato p {
  text-align: center;
}

.formulario-contato {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 30px;
}

.formulario-contato input,
.formulario-contato textarea {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 16px;
  display: block;
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #252525;
}

.formulario-contato textarea {
  height: 150px;
}

.formulario-contato input::placeholder,
.formulario-contato textarea::placeholder {
  color: #252525;
}

/* RODAPÉ */
.rodapé {
  background: #252525;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rodapé p {
  font-size: 18px;
  font-style: italic;
  color: #fff;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 800px) {
  .titulo-intro {
      font-size: 48px;
  }

  .servicos-conteudo {
      flex-direction: column;
      align-items: center;
  }

  .servico-item {
      margin-bottom: 30px;
  }

  .historia {
      flex-direction: column;
  }

  .historia-imagem,
  .conteudo-historia {
      width: 100%;
  }

  .conteudo-historia {
      padding: 30px 15px;
  }

  .historia-imagem {
      height: 300px;
  }
}

@media only screen and (max-width: 500px) {
  .cabecalho .container {
      flex-direction: column;
  }

  .logo-cabecalho {
      margin-bottom: 15px;
  }
}